* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fixed-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #0E1342;
  color: #F2F3F5;
  font-weight: 100;
  height: 60px;
  padding-left: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.currency-exchange-container {
  display: flex;
  justify-content: center;
  background-color: #1A8DFF;
  height: 300px;
  color: #F2F3F5;
  padding-top: 60px;
  position: relative;
}

.exchanger-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  position:absolute;
  z-index: 10;
  top: 150px;
  height: 500px;
  width: 80%;
  border-radius: 12px;
  padding: 4px;
  box-shadow: 0px 0px 1px 1px rgba(224,224,224,1);
  color: black;
}

.inputs-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.currency-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
}

.currency-input input {
  margin-top: 8px;
  border: 1px solid rgb(211, 211, 211);
  height: 32px;
  padding: 4px;
  font-weight: 700;
  width: 90%;
}

.currency-input input:focus {
  outline: 1px solid #1A8DFF  
}

.currency-input select {
  margin-top: 8px;
  border: 1px solid rgb(211, 211, 211);
  height: 32px;
  padding: 4px;
  font-weight: 700;
  width: 90%;
}

.currency-input select:focus {
  outline: 1px solid #1A8DFF  
}

.currency-icon {
  display: flex;
  align-items: center;
}

.rate-information {
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 24px;
}

.rate-disclaimer {
  font-weight: 300;
  color: rgb(155, 155, 155);
  font-size: 14px;
}

.rates-container {
display: flex;
flex: 1;
width: 100%;
margin-top: 60px;
padding: 12px;
}

.rates-data-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0.6
}

.legal-information {
  display: flex;
  align-items: flex-end;
  flex: 0.4;
}

.legal-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #E8F3FF;
  height: 90px;
  border-radius: 8px;
  font-size: 16px;
  padding: 12px;
}

.last-updated {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 0.2;
  width: 100%;
  color: gray;
}