.last-updated {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 0.2;
    width: 100%;
    color: gray;
    padding: 8px;
  }

  @media (max-width: 500px) and (max-height: 800px) {
    .last-updated {
      font-size: 12px;
      height: 20px;
      align-items: center;
      justify-content: center;
    }
  }